
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Messages.AlertMessage()
<p>
    <a href="#" onclick="cibertec.getModal('@Url.Action("Create")');return false;"
       data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus">New</span>
    </a>
</p>
@*<div id="customerList"></div>*@
@*@Html.Partial("_List")*@
<div class="pagination"></div>
<div class="content"></div>
<div class="pagination"></div>


@Modal.GetModal("customer", "customer.closeModal();")


<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/App_JS/cibertec.js"></script>
<script src="~/App_JS/customer.js"></script>

<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        var customerHub = $.connection.customerHub;
        $.connection.hub.start().done(function () {
            console.log("Connected to Hub...");
        });
    });
</script>

@*<script type="text/javascript">
    customer: () => {
        reloadList: function(){

        }
    };
    $(function () {
        customer.reloadData('customerList', '@Url.Action("GetCustomers","Customers")');
    })
    
</script>*@